.navbar
{
    height: 100px;
    background-color: #567086;
    padding: 0;
    color: #fff;
}
.container
{
    padding-left: 15px;
    padding-right: 15px;
    text-align:left;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 400;
    height:100px;
    justify-content: space-between;
    line-height: 24px;
    margin-left: 126.8px;
    margin-right: 126.8px;
    max-width:720px;
    text-size-adjust: 100%;
    width:720px;
}
.navbar-brand
{
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    line-height: 30px;
    white-space: nowrap;
    cursor: pointer;
    box-sizing:border-box;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
}
.title
{
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    margin-left:60px;
}
a
{
    text-decoration: none;
    color:#fff;
}
.tm-nav-icon
{
    color:#fff;
    cursor: pointer;
}
.fas
{
    font-weight: 900;
}
ul
{
    margin-top: 0;
    list-style: none;
    box-sizing: border-box;
    text-align: left;
}
li
{
    display: list-item;
    text-align: left;
}
.link>i
{
    margin-bottom: 0px;
    margin-right:10px;
    font-size: 0.9rem;
}

.collapse
{
    box-sizing: border-box;
    background-color: #567086;
    width:1050px;
    position:absolute;
    top:0;
    left:500px;
    height:100px;
    box-shadow: none;
    border: none;
    display:flex;
}
.nav
{
    display: flex; 
    font-size: 16px;
    font-weight: 400;  
}
.admin
{
    margin-top: 20px;
    margin-left: 250px;
}
.item
{
    text-align: center;
}
.link
{
    display:flex;
    flex-direction: column;
    padding:20px 30px;
    margin-top: 0;
    padding-bottom: 0px;
}
.link:hover
{
    color: #f5a623;
}
.link:active
{
    background-color: #f5a623;
    color:white;
}
.link i
{
    font-size: 22px;
}
.toggle
{
    display: block;
    cursor: pointer;
    border-color: #708da8;
    box-shadow: rgba(255, 255, 255, 0.1) 0 2px 2px 4px;
    border-radius: 0;
    padding: 5px 15px;
    transition: all 0.2s ease;
    font-size: 1.25rem;
    background-color: transparent;
    border: 1px solid transparent;
    margin-bottom: 0;
    position: absolute;
    top:33px;
    right:15px;
}

@media (max-width: 574px)
{
.navbar {
    height: 70px;
    width:540px;
}
.toggle {
    display: block;
    top:10px;
    left:450px;
    margin-top:0;
    padding:10px 20px;
}
.collapse
{
    display: block;
    box-sizing: border-box;
    background-color: #567086;
    width:250px;
    position: absolute;
    top:72px;
    left:270px;
    text-align: left;
    box-shadow: 2px 2px 2px grey;
    border: 0.5px solid grey;
    height: 360px;
    transition-duration: 3s;
}
.nav {
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    padding-left: 0;
    padding-bottom: 20px;
    text-align: center;
}
.link {
    display: flex;
    flex-direction: row;
    padding: 20px 30px;
    margin-top: 0;
    padding-right: 0;
    padding-left: 40px;
    height: 100%;
    align-items: center;
    font-size: 20px;
    margin-left:0;
    padding-top: 0;
}
.item {
    text-align: center;
    box-sizing: border-box;
    text-align: left;
}
.admin {
    margin-top: 20px;
    margin-left: 0px;
}
.container
{
    margin-left: 0;
    height:70px;
}
.title
{
    margin-left: 20px;
    font-size: 32px;
    margin:0;
    padding:18px 15px; 
}
.tm-nav-icon {
   font-size: 30px;
}
}